#footer {
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.53125rem;
  background: #fff;
}
#footer > .main {
  width: 8.125rem;
  height: 1.0rem;
  margin: 0.234375rem auto 0;
  background: inherit;
  overflow: visible;
}
#footer > .main .section {
  position: relative;
  display: inline-block;
  width: 0.703125rem;
  height: 0.9375rem;
  float: left;
}
#footer > .main .section.select span {
  color: #099dff;
}
#footer > .main .section.select:nth-child(1) i.icon {
  width: 0.8125rem;
  height: 0.625rem;
  background: url('../img/main/book1.png') no-repeat;
  background-size: cover;
}
#footer > .main .section.select:nth-child(2) i.icon {
  width: 0.6875rem;
  height: 0.625rem;
  background: url('../img/main/search1.png') no-repeat;
  background-size: cover;
}
#footer > .main .section.select:nth-child(3) i.icon {
  width: 0.625rem;
  height: 0.625rem;
  background: url('../img/main/publish1.png') no-repeat;
  background-size: cover;
}
#footer > .main .section.select:nth-child(4) i.icon {
  width: 0.59375rem;
  height: 0.625rem;
  background: url('../img/main/mine1.png') no-repeat;
  background-size: cover;
}
#footer > .main .section:nth-child(1) {
  margin-right: 1.796875rem;
}
#footer > .main .section:nth-child(1) i.icon {
  display: block;
  width: 0.75rem;
  height: 0.59375rem;
  margin: 0 auto;
  background: url('../img/main/book.png') no-repeat;
  background-size: cover;
}
#footer > .main .section:nth-child(2) {
  margin-right: 1.875rem;
}
#footer > .main .section:nth-child(2) i.icon {
  display: block;
  width: 0.59375rem;
  height: 0.59375rem;
  margin: 0 auto;
  background: url('../img/main/search.png') no-repeat;
  background-size: cover;
}
#footer > .main .section:nth-child(3) i.icon {
  display: block;
  width: 0.59375rem;
  height: 0.59375rem;
  margin: 0 auto;
  background: url('../img/main/publish.png') no-repeat;
  background-size: cover;
}
#footer > .main .section:nth-child(4) {
  float: right;
}
#footer > .main .section:nth-child(4) i.icon {
  display: block;
  width: 0.59375rem;
  height: 0.59375rem;
  margin: 0 auto;
  background: url('../img/main/mine.png') no-repeat;
  background-size: cover;
}
#footer > .main .section i.icon {
  display: block;
  width: 100%;
  height: 0.625rem;
  background-size: cover;
}
#footer > .main .section span {
  position: relative;
  top: 0.078125rem;
  display: block;
  margin-top: 0.0625rem;
  font-size: 0.34375rem;
  white-space: nowrap;
  text-align: center;
  line-height: 0.3125rem;
  color: #7d6464;
  vertical-align: bottom;
}
