body {
  font-family: 'STXhei';
}
#main {
  width: 10rem;
}
#main .headerBg {
  width: 100%;
  height: 3.40625rem;
  background: url('../img/main/hBg1.jpg') no-repeat center center;
  background-size: cover;
}
#main .main {
  width: 100%;
  height: 12.96875rem;
  background: url('../img/main/bg.jpg') no-repeat center;
  background-size: cover;
  overflow: hidden;
}
#main .nav {
  height: 0.875rem;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  overflow: hidden;
  margin-top: 0.078125rem;
}
#main .nav li {
  float: left;
  display: inline-block;
  box-sizing: border-box;
  line-height: 0.875rem;
  text-align: center;
  color: #fff;
  font-size: 0.34375rem;
  padding: 0 0.53125rem;
}
#main .nav li.current {
  background: #fff;
  color: #4ca7ff;
}
#main .btnCon {
  height: 0.9375rem;
  width: 7.5rem;
  background: white;
  margin: 0.15625rem auto 0.234375rem;
  border-radius: 0.125rem;
  overflow: hidden;
}
#main .btnCon .btn {
  float: left;
  width: 50%;
  height: 100%;
  font-size: 0.34375rem;
  line-height: 0.9375rem;
  text-align: center;
  background: #268ad1;
  color: #fff;
  box-sizing: border-box;
}
#main .btnCon .btn.current {
  background: #fff;
  color: #268ad1;
}
#main #contentCon {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.28125rem;
}
#main #contentCon .contentType .section {
  width: 100%;
  border-radius: 0.15625rem;
  background: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  padding: 0.21875rem 0.15625rem 0.140625rem 0.15625rem;
  margin-bottom: 0.234375rem;
}
#main #contentCon .contentType .section .h .photo {
  position: relative;
  top: 0.15625rem;
  float: left;
  width: 1.0rem;
  height: 1.0rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.234375rem;
}
#main #contentCon .contentType .section .h .photo img {
  width: 100%;
  height: 100%;
}
#main #contentCon .contentType .section .h .nameTag {
  position: relative;
  float: left;
  max-width: 3.90625rem;
  overflow: hidden;
}
#main #contentCon .contentType .section .h .nameTag .name {
  font-size: 0.375rem;
  color: #000;
}
#main #contentCon .contentType .section .h .nameTag .name span {
  position: relative;
}
#main #contentCon .contentType .section .h .nameTag .name span i.crown {
  position: absolute;
  right: -0.46875rem;
  top: 0.15625rem;
  width: 0.265625rem;
  height: 0.203125rem;
  background: url('../img/main/crown.png') no-repeat center;
  background-size: cover;
}
#main #contentCon .contentType .section .h .star {
  position: relative;
  top: 0.15625rem;
  float: right;
  margin-right: 0.59375rem;
  width: 0.34375rem;
  height: 0.328125rem;
  background: url('../img/main/star1.png') no-repeat center;
  background-size: cover;
}
#main #contentCon .contentType .section .article {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
#main #contentCon .contentType .section .article .t {
  max-width: 7.265625rem;
  font-size: 0.40625rem;
  margin: 0 auto 0.078125rem;
}
#main #contentCon .contentType .section .article .t span {
  display: inline-block;
  font-size: 0.46875rem;
  vertical-align: top;
}
#main #contentCon .contentType .section .article .t span.bookName {
  max-width: 4.375rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#main #contentCon .contentType .section .article .t span.bookType {
  color: #009917;
}
#main #contentCon .contentType .section .article .t span.sellType {
  color: #fff;
  width: 0.625rem;
  height: 0.3125rem;
  background-color: #74c7ff;
  border-radius: 0.1875rem;
  font-size: 0.125rem;
  text-align: center;
  line-height: 0.3125rem;
  vertical-align: baseline;
}
#main #contentCon .contentType .section .article .desc {
  margin: 0 auto;
  font-size: 0.375rem;
  top: 0.71875rem;
  width: 7.265625rem;
  height: 0.84375rem;
  line-height: 0.421875rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
#main #contentCon .contentType .section .footer {
  width: 7.265625rem;
  margin: 0 auto;
}
#main #contentCon .contentType .section .footer span {
  display: inline-block;
}
#main #contentCon .contentType .section .footer span.lll {
  float: left;
}
#main #contentCon .contentType .section .footer span.lll i {
  margin-left: 0.078125rem;
}
#main #contentCon .contentType .section .footer span.comment {
  float: right;
  margin-right: 0.078125rem;
}
#main #contentCon .contentType .section .footer span.comment i {
  margin-left: 0.078125rem;
}
#main .footerSection {
  position: fixed;
  width: 100%;
  height: 1.53125rem;
  background: #fff;
}
#main .footerSection > .main {
  width: 8.125rem;
  height: 1.0rem;
  margin: 0.234375rem auto 0;
  background: inherit;
}
#main .footerSection > .main .section {
  width: 0.703125rem;
  height: 0.9375rem;
  background: red;
  float: left;
}
#main .footerSection > .main .section:nth-child(1) {
  margin-right: 1.796875rem;
}
#main .footerSection > .main .section:nth-child(2) {
  margin-right: 1.875rem;
}
#main .footerSection > .main .section:nth-child(4) {
  float: right;
}
#main .footerSection > .main .section i.icon {
  display: block;
  width: 100%;
  height: 0.625rem;
  background: pink;
}
#main .footerSection > .main .section span {
  display: block;
  text-align: center;
  line-height: 0.3125rem;
}
