html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 10rem;
  height: 100%;
  margin: 0 auto;
  background: url('../img/search/bg.png') no-repeat center;
  background-size: cover;
  box-sizing: border-box;
  padding: 0.4375rem 0.3125rem 0;
}
#main .section {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0.125rem;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 0.234375rem;
  padding: 0.21875rem 0.45rem 0.140625rem 0.15625rem;
}
#main .section .photo {
  float: left;
  width: 1.0rem;
  height: 1.0rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.234375rem;
}
#main .section .photo img {
  width: 100%;
  height: 100%;
}
#main .section .rightCon {
  width: 7.265625rem;
  float: left;
}
#main .section .rightCon .nameTag {
  position: relative;
  float: left;
  max-width: 3.90625rem;
}
#main .section .rightCon .nameTag .name {
  font-size: 0.375rem;
  color: #000;
}
#main .section .rightCon .nameTag .name span {
  position: relative;
}
#main .section .rightCon .nameTag .name span i.crown {
  position: absolute;
  right: -0.46875rem;
  top: 0.15625rem;
  width: 0.265625rem;
  height: 0.203125rem;
  background: url('../img/main/crown.png') no-repeat center;
  background-size: cover;
}
#main .section .rightCon .star {
  position: relative;
  float: right;
  width: 0.3125rem;
  margin-top: 0.15625rem;
  height: 0.3125rem;
  background: url('../img/main/star1.png') no-repeat center;
  background-size: cover;
}
#main .section .rightCon .star.favor {
  background: url('../img/main/star.png') no-repeat center;
  background-size: cover;
}
#main .section .t {
  font-size: 0.46875rem;
  margin: 0 auto 0.078125rem;
  white-space: nowrap;
}
#main .section .t span {
  font-size: 0.46875rem;
  vertical-align: top;
}
#main .section .t span.bookName {
  display: inline-block;
  max-width: 4.53125rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#main .section .t span.bookType {
  color: #009917;
  margin-left: -0.15625rem;
}
#main .section .t span.sellType {
  color: #fff;
  width: 0.625rem;
  white-space: nowrap;
  height: 0.3125rem;
  background-color: #74c7ff;
  border-radius: 0.1875rem;
  font-size: 0.125rem;
  text-align: center;
  line-height: 0.3125rem;
  vertical-align: baseline;
  padding: 0 0.046875rem;
  margin-left: -0.3125rem;
}
#main .section .article {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
#main .section .article .desc {
  margin: 0 auto;
  font-size: 0.375rem;
  top: 0.71875rem;
  width: 7.265625rem;
  height: 0.84375rem;
  line-height: 0.421875rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
#main .section .footer {
  margin-top: 0.390625rem;
}
#main .section .footer div.l {
  float: left;
}
#main .section .footer div.l .text {
  margin-right: 0.09375rem;
}
#main .section .footer div.r {
  float: right;
}
#main .section .footer div.r .num {
  margin-right: 0.09375rem;
}
#main .section .footer div span {
  font-size: 0.234375rem;
}
