html,
body {
  height: 100%;
}
#main {
  width: 10rem;
  height: 100%;
  background: url('../img/search/bg.png') no-repeat center;
  background-size: cover;
  overflow: hidden;
}
#main .myInfos {
  width: 4.0625rem;
  height: 4.21875rem;
  margin: 0.84375rem auto;
}
#main .myInfos .pho {
  width: 1.875rem;
  height: 1.875rem;
  margin: 0 auto 0.203125rem;
  overflow: hidden;
  border-radius: 50%;
}
#main .myInfos .pho img {
  width: 100%;
  height: 100%;
}
#main .myInfos .name {
  position: relative;
  width: 100%;
  height: 0.5rem;
  margin-bottom: 0.5375rem;
  text-align: center;
  line-height: 0.5rem;
}
#main .myInfos .name .relative {
  height: 0.5rem;
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
#main .myInfos .name .relative p {
  display: inline-block;
  max-width: 3.90625rem;
  height: 100%;
  text-overflow: ellipsis;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  font-size: 0.546875rem;
}
#main .myInfos .name .relative i {
  position: relative;
  top: -0.05rem;
  display: inline-block;
  vertical-align: center;
  margin-left: 0.15rem;
  width: 0.4375rem;
  height: 0.3125rem;
  background: url('../img/main/crown.png') no-repeat center;
  background-size: cover;
}
#main .myInfos .expCon {
  height: 0.375rem;
}
#main .myInfos .expCon span {
  font-size: 0.390625rem;
  line-height: 0.375rem;
}
#main .myInfos .expCon .expBar {
  position: relative;
  display: inline-block;
  width: 2.5875rem;
  height: 100%;
  overflow: hidden;
  border-radius: 0.1875rem;
  border: 1px solid black;
  box-sizing: border-box;
  background: #fff;
  text-align: center;
  line-height: 0.375rem;
}
#main .myInfos .expCon .expBar .fill {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 1.5625rem;
  height: 100%;
  background-color: #a8d5ff;
}
#main .myInfos a {
  display: block;
  margin-top: 0.434375rem;
  text-align: center;
  line-height: 0.3125rem;
  font-size: 0.3125rem;
  color: #000;
}
#main .content {
  width: 9.375rem;
  margin: 0 auto;
  border-radius: 0.125rem;
  background: rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  padding: 0 0.09375rem;
}
#main .content li {
  height: 1.5rem;
  border-bottom: 1px solid #566b7f;
  line-height: 1.5rem;
}
#main .content li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
}
#main .content li:nth-child(1) i.icon {
  background: url('../img/myCenter/icon1.png') no-repeat center;
  background-size: cover;
}
#main .content li:nth-child(2) i.icon {
  background: url('../img/myCenter/icon2.png') no-repeat center;
  background-size: cover;
}
#main .content li:nth-child(3) i.icon {
  background: url('../img/myCenter/icon3.png') no-repeat center;
  background-size: cover;
}
#main .content li:nth-child(4) i.icon {
  width: 0.828125rem;
  height: 0.625rem;
  margin-left: 0.203125rem;
  margin-right: 0.40625rem;
  background: url('../img/myCenter/icon4.png') no-repeat center;
  background-size: cover;
}
#main .content li:nth-child(5) {
  border-bottom: 0;
}
#main .content li:nth-child(5) i.icon {
  background: url('../img/myCenter/icon5.png') no-repeat center;
  background-size: cover;
}
#main .content li i.icon {
  position: relative;
  top: 0.109375rem;
  width: 0.625rem;
  height: 0.625rem;
  display: inline-block;
  margin-right: 0.5rem;
  margin-left: 0.3125rem;
}
#main .content li span {
  position: relative;
  font-size: 0.46875rem;
}
#main .content li span i {
  position: absolute;
  top: -0.078125rem;
  border-radius: 50%;
  right: -0.234375rem;
  width: 0.15625rem;
  height: 0.15625rem;
  background: #e60012;
}
#main .footerSection {
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.53125rem;
  background: #fff;
}
#main .footerSection > .main {
  width: 8.125rem;
  height: 1.0rem;
  margin: 0.234375rem auto 0;
  background: inherit;
  overflow: visible;
}
#main .footerSection > .main .section {
  position: relative;
  display: inline-block;
  width: 0.703125rem;
  height: 0.9375rem;
  float: left;
}
#main .footerSection > .main .section.select span {
  color: #099dff;
}
#main .footerSection > .main .section.select:nth-child(1) i.icon {
  width: 0.8125rem;
  height: 0.625rem;
  background: url('../img/main/book1.png') no-repeat;
  background-size: cover;
}
#main .footerSection > .main .section.select:nth-child(2) i.icon {
  width: 0.6875rem;
  height: 0.625rem;
  background: url('../img/main/search1.png') no-repeat;
  background-size: cover;
}
#main .footerSection > .main .section.select:nth-child(3) i.icon {
  width: 0.625rem;
  height: 0.625rem;
  background: url('../img/main/publish1.png') no-repeat;
  background-size: cover;
}
#main .footerSection > .main .section.select:nth-child(4) i.icon {
  width: 0.59375rem;
  height: 0.625rem;
  background: url('../img/main/mine1.png') no-repeat;
  background-size: cover;
}
#main .footerSection > .main .section:nth-child(1) {
  margin-right: 1.796875rem;
}
#main .footerSection > .main .section:nth-child(1) i.icon {
  display: block;
  width: 0.75rem;
  height: 0.59375rem;
  margin: 0 auto;
  background: url('../img/main/book.png') no-repeat;
  background-size: cover;
}
#main .footerSection > .main .section:nth-child(2) {
  margin-right: 1.875rem;
}
#main .footerSection > .main .section:nth-child(2) i.icon {
  display: block;
  width: 0.59375rem;
  height: 0.59375rem;
  margin: 0 auto;
  background: url('../img/main/search.png') no-repeat;
  background-size: cover;
}
#main .footerSection > .main .section:nth-child(3) i.icon {
  display: block;
  width: 0.59375rem;
  height: 0.59375rem;
  margin: 0 auto;
  background: url('../img/main/publish.png') no-repeat;
  background-size: cover;
}
#main .footerSection > .main .section:nth-child(4) {
  float: right;
}
#main .footerSection > .main .section:nth-child(4) i.icon {
  display: block;
  width: 0.59375rem;
  height: 0.59375rem;
  margin: 0 auto;
  background: url('../img/main/mine.png') no-repeat;
  background-size: cover;
}
#main .footerSection > .main .section i.icon {
  display: block;
  width: 100%;
  height: 0.625rem;
  background-size: cover;
}
#main .footerSection > .main .section span {
  position: relative;
  top: 0.078125rem;
  display: block;
  margin-top: 0.0625rem;
  font-size: 0.34375rem;
  white-space: nowrap;
  text-align: center;
  line-height: 0.3125rem;
  color: #7d6464;
  vertical-align: bottom;
}
